body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: mediumpurple;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

section {
  width: 350px;
}

h1, p {
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  padding: 10px;
  border-radius: 5px;
  font-family: inherit;
  border: 1px solid gray;
  margin-bottom: 10px;
  font-size: 1rem;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  font-family: inherit;
  border: none;
  background-color: darkslateblue;
  color: white;
  font-size: 1rem;
}

button:hover {
  background-color: white;
  color: darkslateblue;
}

.red {
  color: firebrick;
}

.green {
  color: forestgreen;
}
